<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head th:include="system/index/top :: top">

	  </head>

<body class="no-skin">
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<form
								 name="form" id="form" method="post" th:action="@{/dictionary/save.do}">
								 <input type="hidden" name="dictionary.parentId" th:value="${pd.get('parentDictionary') == null ? 0 : pd.parentDictionary.id}"/>
								 <input type="hidden" name="dictionary.parentCode" th:value="${pd.get('parentDictionary') == null ? 0 : pd.parentDictionary.code}"/>
								 <input type="hidden" name="dictionary.treePath" th:value="${pd.get('parentDictionary') == null ? '/' : pd.parentDictionary.treePath + pd.parentDictionary.id + '/'}"/>
								 <input type="hidden" name="parentDictionaryIsParent" th:value="${pd.get('parentDictionary') == null || pd.get('parentDictionary').isParent == false ? false : true }"/>
								 <div id="zhongxin">
								 	<table id="table_report" class="table table-striped table-bordered table-hover" style="margin-top:15px;">
								 		<tr>
											<td style="width:70px;text-align: right;padding-top: 13px;">上级:</td>
											<td>
												<div class="col-xs-4 label label-lg label-light arrowed-in arrowed-right">
													<b th:if="${pd.get('parentDictionary') == null}">(无) 此项为顶级</b>
													<b th:if="${null != pd.get('parentDictionary')}" th:inline="text">
														 [[${pd.parentDictionary.name}]]
													</b>
												</div>
											</td>
										</tr>
										<tr>
											<td style="width:70px;text-align: right;padding-top: 13px;">名称:</td>
											<td><input type="text" name="dictionary.name" id="name" value="" maxlength="50" placeholder="这里输入名称" title="名称" style="width:96%"/>
												<font color="red">*</font>
											</td>
										</tr>
										<tr>
											<td style="width:70px;text-align: right;padding-top: 13px;">英文名称:</td>
											<td>
												<input type="text" name="dictionary.englishName" id="englishName" maxlength="50" placeholder="这里输入英文" title="英文" style="width:96%;"/>
												<font color="red">*</font>
											</td>
										</tr>
										<tr>
											<td style="width:70px;text-align: right;padding-top: 13px;">编码:</td>
											<td>
												<input type="text" name="dictionary.code" id="code" maxlength="32" placeholder="这里输入编码 (不重复, 禁止修改)" title="编码" style="width:96%;"/>
												<font color="red">*</font>
											</td>
										</tr>
										<tr>
											<td style="width:70px;text-align: right;padding-top: 13px;">排序:</td>
											<td>
												<input type="number" name="dictionary.orders" id="orders" maxlength="32" placeholder="这里输入排序" title="排序"/>
												<font color="red">*</font></td>
										</tr>
										<tr>
											<td style="width:70px;text-align: right;padding-top: 13px;">备注:</td>
											<td>
												<textarea rows="3" cols="46" name="dictionary.remark" id="remark" placeholder="这里输入备注" title="备注"  style="width:96%;" maxlength="255"></textarea>
											</td>
										</tr>
										<tr>
											<td class="center" colspan="10">
												<a class="btn btn-mini btn-primary" onclick="save();">保存</a>
												<a class="btn btn-mini btn-danger" onclick="top.Dialog.close();">取消</a>
											</td>
										</tr>
								 	</table>
								 </div>
								 <div id="zhongxin2" class="center" style="display:none">
								 	<br/><br/><br/><br/><br/><img th:src="@{/img/jiazai.gif}" style="width: 50px;" /><br/><br/>
								 	<h4 class="lighter block green">提交中...</h4>
								 </div>
							</form>
							<div id="zhongxin2" class="center" style="display:none">
							 	<img th:src="@{/img/jzx.gif}" style="width: 50px;" /><br/>
							 	<h4 class="lighter block green"></h4>
							 </div>
						</div>
					</div>
					
				
				</div>
			</div>
		</div>
		<!-- 返回顶部 -->
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
	<div th:include="system/index/foot :: foot"></div>
	<!--提示框-->
	<script type="text/javascript" th:src="@{/plugins/jquery-tip/jquery.tips.js}"></script>
	<!-- inline scripts related to this page -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(top.hangge());
		//保存
		function save(){
			if($("#name").val()==""){
				$("#name").tips({
					side:3,
		            msg:'请输入名称',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#name").focus();
				return false;
			}
			if($("#engListName").val()==""){
				$("#engListName").tips({
					side:3,
		            msg:'请输入英文',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#engListName").focus();
				return false;
			}
			if($("#code").val()==""){
				$("#code").tips({
					side:3,
		            msg:'请输入编码',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#code").focus();
				return false;
			}
			if($("#orders").val()==""){
				$("#orders").tips({
					side:3,
		            msg:'请输入排序顺序',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#orders").focus();
				return false;
			} 
			$("#form").submit();
			$("#zhongxin").hide();
			$("#zhongxin2").show();
		}
		//编码+parentId必须唯一，这样才能通过parentId和编码确定数据字典
		function hasCode(){
			var code = $.trim($("#code").val());
			if("" == code){
				return;
			}
			var parentId = $("[name='dictionary.parentId']").val();
			$.ajax({
				type: "POST",
				url: [[@{/}]] + 'dictionary/hasCode.do',
		    	data: {code:code, parentId:parentId},
				dataType:'json',
				cache: false,
				success: function(data){
					 if(!data.success){
						$("#code").tips({
							side:1,
				            msg:'编码'+code+'已存在,重新输入',
				            bg:'#AE81FF',
				            time:5
				        });
						$('#code').val('');
					 }
				}
			});
		}
		//编码change事件：编码+parentId必须唯一，这样才能通过parentId和编码确定数据字典
		$("#code").change(function(){
			hasCode();
		});
		
		
		/*]]>*/
	</script>
</body>


</html>