<!DOCTYPE html>
<html lang="zh-CN">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="height=device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0" />
<title th:text="${application.SYSNAME}" ></title>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-1.7.2.js}"></script>
<script type="text/javascript" th:src="@{/plugins/zTree/3.5.29/js/jquery.ztree.core.js}"></script>
<link type="text/css" rel="stylesheet" th:href="@{/plugins/zTree/3.5.29/css/zTreeStyle/zTreeStyle.css}"/>	
<style type="text/css">
html, body {
	padding: 0;
	margin: 0;
}

.container {
	padding: 0;
}
</style>

</head>

<body class="body">
	<table style="width:100%;border: 0">
	<tr>
		<td style="width:15%;" valign="top" bgcolor="#F9F9F9">
			<div style="width:15%;">
				<ul id="leftTree" class="ztree"></ul>
			</div>
		</td>
		 <td style="width:85%;" valign="top" >
			<iframe name="treeFrame" id="treeFrame" th:src="@{/company/listCompany.html?treePath} + '=' + ${pd.get('treePath') == null ? '/' : pd.get('treePath')}" style="margin:0 auto;width:100%;height:100%;border: 0"></iframe>
		</td> 
	</tr>
</table>
</body>

<script type="text/javascript" th:inline="javascript">
/*<![CDATA[*/
	 var parentId = [[${parentId}]];
	 var setting = {
		async: {
			enable: true,
			url:[[@{/company/getSubCompany}]],
			autoParam:["id"]
		}
	};
	 $(document).ready(function(){
		$.fn.zTree.init($("#leftTree"), setting);
	});
	$(top.hangge());
	function treeFrameT(){
		var hmainT = document.getElementById("treeFrame");
		var bheightT = document.documentElement.clientHeight;
		hmainT .style.width = '100%';
		hmainT .style.height = (bheightT-26) + 'px';
	}
	treeFrameT();
	window.onresize=function(){  
		treeFrameT();
	};
/*]]>*/
</script>

</html>