<?xml version="1.0" encoding="UTF-8"?>  
<configuration>  
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />  
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">  
        <encoder>  
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{35} - %msg %n</pattern>  
            <charset>UTF-8</charset>  
        </encoder>  
    </appender>  
    <appender name="rollingAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">  
	    <file>D:/test/stdout.log</file>  
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">  
	        <fileNamePattern>D:/test/stdout-%d{yyyy-MM-dd}.log</fileNamePattern>  
	        <maxHistory>30</maxHistory>  
	    </rollingPolicy>  
	    <encoder><!-- 必须指定，否则不会往文件输出内容 -->  
	        <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{5} - %msg%n</pattern>  
	    </encoder>  
	     <append>false</append>  
    	<prudent>false</prudent>   
	</appender>  
    <root level="DEBUG">  
        <appender-ref ref="CONSOLE"></appender-ref>  
        <appender-ref ref="rollingAppender"></appender-ref>  
    </root>  
</configuration>  