<!DOCTYPE html>
<html lang="zh-CN">
      <head>
      	<span th:replace="system/index/top :: top"></span>
      	<meta charset="UTF-8" />
		<script type="text/javascript" th:src="@{/plugins/jquery/jquery-1.7.2.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/zTree/3.5.29/js/jquery.ztree.core.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/zTree/3.5.29/js/jquery.ztree.excheck.js}"></script>
		<link type="text/css" rel="stylesheet" th:href="@{/plugins/zTree/3.5.29/css/zTreeStyle/zTreeStyle.css}"/>	

	  </head>

<body class="no-skin">
	<!-- /section:basics/navbar.layout -->
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="row">
						<div class="col-xs-12">
							<div id="zhongxin">
								<div style="overflow: scroll; scrolling: yes;height:415px;width: 309px;">
								<ul id="tree" class="ztree" style="overflow:auto;"></ul>
								</div>
							</div>
							<div id="zhongxin2" class="center" style="display:none">
								<img th:src="@{/img/jiazai.gif}" style="width: 50px;" /><br/>
								<h4 class="lighter block green"></h4>
							</div>
							<div id="zhongxin2" class="center" style="display:none">
								<br/><br/><br/><br/><img th:src="@{/img/jiazai.gif}" />
								<br/>
								<h4 class="lighter block green">
								正在保存...</h4>
							</div>
							</div>
						<!-- /.col -->
						</div>
					</div>
					<!-- /.row -->
				</div>
				<!-- /.page-content -->
			</div>
		</div>
	<div style="width: 100%;padding-top: 5px;" class="center">
			<a class="btn btn-mini btn-primary" onclick="save();">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close();">取消</a>
	</div>
	<div th:include="system/index/foot :: foot"></div>
	<!--提示框-->
	<script type="text/javascript" th:src="@{/plugins/jquery-tip/jquery.tips.js}"></script>
	<!-- inline scripts related to this page -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(top.hangge());
		$(function(){
			var setting = {
				check: {
					enable: true
				},
				data: {
					simpleData: {
						enable: true
					}
				}
			};
			var zn = [[${pd.zTreeNodes}]];
			var zTreeNodes = eval(zn);
			$.fn.zTree.init($("#tree"), setting, zTreeNodes);		
		});
		//保存
		function save(){
			debugger;
			var treeObj = $.fn.zTree.getZTreeObj("tree");
			var nodes = treeObj.getCheckedNodes(true);
			debugger;
			var newCrudPermissions = [];
			for(var i = 0; i < nodes.length; i++){
				newCrudPermissions.push(nodes[i].permission);
			}
			var role_id = [[${pd.id}]];
			var oldCrudPermissions = [[${pd.crudPermissions}]]
			oldCrudPermissions = eval(oldCrudPermissions);
			var data = {newCrudPermissions:newCrudPermissions, id:role_id, oldCrudPermissions : oldCrudPermissions};
			data = JSON.stringify(data);
			var url = [[@{/}]] + "role/saveCrudPermission.do";
			$("#zhongxin").hide();
			$("#zhongxin2").show();
			 $.ajax({   
	            type:"POST",   
	            url:url,   
	            dataType:"json",        
	            contentType:"application/json;charset=utf-8",                 
	            data:data,   
	            success:function(data){   
	            	top.Dialog.close();                     
	            }   
	         }); 
		 }
		/*]]>*/
	</script>
</body>


</html>