<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      <head th:include="system/index/top :: top">

	  </head>

<body class="no-skin">
	<div class="main-container" id="main-container">
		<!-- /section:basics/sidebar -->
		<div class="main-content">
			<div class="main-content-inner">
				<div class="page-content">
					<div class="page-header">
							<h1>
								<small>
									<i class="ace-icon fa fa-angle-double-right"></i>
									编辑菜单
								</small>
							</h1>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<form
								 name="menuForm" id="menuForm" method="post" class="form-horizontal">
								 <input type="hidden" name="parentMenuId" th:value="${pd.pds == null ? 0 : pd.pds.id}"/>
								 <input type="hidden" name="parentMenuParentIds" th:value="${pd.pds == null ? '0/' : pd.pds.parentIds}"/>
								 <input type="hidden" name="parentMenuHaveChildren" th:value="${pd.pds == null ? false : pd.pds.haveChildren}"/>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 上级 :</label>
									<div class="col-sm-9">
										<div style="padding-top:5px;">
											<div class="col-xs-4 label label-lg label-light arrowed-in arrowed-right">
												<b th:if="${pd.pds == null}">(无) 此项为顶级菜单</b>
												<b th:if="${null != pd.pds}" th:inline="text">
													 [[${pd.pds.name}]]
												</b>
											</div>
										</div>
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 名称 :</label>
									<div class="col-sm-9">
										<input type="text" name="menu_name" id="menuName" value="" placeholder="这里输入菜单名称" class="col-xs-10 col-sm-5" />
									</div>
								</div>
								 <div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 链接  :</label>
									<div class="col-sm-9">
										<input type="text" name="menu_url" id="menuUrl" value="" th:attr="readonly=${pd.pds==null ? 'true' : 'false'}, 
											placeholder=${pd.pds==null ? '顶级菜单禁止输入' : '这里输入菜单链接'}"
											  class="col-xs-10 col-sm-5" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 菜单标示符 :</label>
									<div class="col-sm-9">
										<input type="text" name="permission" id="permission" value="" placeholder="这里输入菜单标示符" class="col-xs-10 col-sm-5" />
									</div>
								</div>
								 <div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 序号 : </label>
									<div class="col-sm-9">
										<input type="number" name="menuOrder" id="menuOrder" value=""
										 placeholder="这里输入菜单序号" title="请输入正整数" class="col-xs-10 col-sm-5" />
									</div>
								</div>
								 <div class="form-group" th:if="${pd.pds == null}">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 类型 : </label>
									<div class="col-sm-9">
										<label style="float:left;padding-left: 8px;padding-top:7px;">
											<input name="menuType" value="false" type="radio" class="ace"/>
											<span class="lbl"> 系统菜单</span>
										</label>
										<label style="float:left;padding-left: 5px;padding-top:7px;">
											<input name="menuType" type="radio" value="true" class="ace" checked="checked"/>
											<span class="lbl"> 业务菜单</span>
										</label>
									</div>
								</div>
								 <div class="form-group">
									<label class="col-sm-3 control-label no-padding-right" for="form-field-1"> 状态 : </label>
									<div class="col-sm-9">
										<label style="float:left;padding-left: 8px;padding-top:7px;">
											<input name="available" type="radio" class="ace" value="true" checked ="checked"/>
											<span class="lbl"> 显示</span>
										</label>
										<label style="float:left;padding-left: 5px;padding-top:7px;">
											<input name="available" type="radio" class="ace" value="false"/>
											<span class="lbl"> 隐藏</span>
										</label>
									</div>
								</div>
								 <div class="clearfix form-actions">
									<div class="col-md-offset-3 col-md-9">
										<a class="btn btn-mini btn-primary" onclick="save();">保存</a>
										<a class="btn btn-mini btn-danger" th:onclick="${'goback(''' + pd.get('menu_id') + ''')'}">取消</a>
									</div>
								</div>
								<div class="hr hr-18 dotted hr-double"></div>
							</form>
						</div>
					</div>
					
				
				</div>
			</div>
		</div>
		<!-- 返回顶部 -->
		<a href="#" id="btn-scroll-up"
			class="btn-scroll-up btn btn-sm btn-inverse"> <i
			class="ace-icon fa fa-angle-double-up icon-only bigger-110"></i>
		</a>
	</div>
	<div th:include="system/index/foot :: foot"></div>
	<!--提示框-->
	<script type="text/javascript" th:src="@{/plugins/jquery-tip/jquery.tips.js}"></script>
	<!-- inline scripts related to this page -->
	<script type="text/javascript" th:inline="javascript">
	/*<![CDATA[*/
		$(top.hangge());
		
		//返回
		function goback(menu_id){
			top.jzts();
			window.location.href=[[@{/}]] + "menu.do?menu_id="+menu_id;
		}
		
		//保存
		function save(){
			if($("#menuName").val()==""){
				$("#menuName").tips({
					side:3,
		            msg:'请输入菜单名称',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#menuName").focus();
				return false;
			}
			if(!/^\w+:menu$/i.test($("[name=permission]").val())){
				$("[name=permission]").tips({
					side:3,
		            msg:'权限标示符格式必须为:menu结尾',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#menuName").focus();
				return false;
			}
			if($("#permission").val()==""){
				$("#permission").tips({
					side:3,
		            msg:'请输入菜单标示符',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#permission").focus();
				return false;
			}
			if($("#menuOrder").val()==""){
				$("#menuOrder").tips({
					side:1,
		            msg:'请输入菜单序号',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#menuOrder").focus();
				return false;
			}
			if(isNaN(Number($("#menuOrder").val()))){
				$("#menuOrder").tips({
					side:1,
		            msg:'菜单序号必须为数字',
		            bg:'#AE81FF',
		            time:2
		        });
				$("#menuOrder").focus();
				$("#menuOrder").val(1);
				return false;
			}
			var data = {};
			debugger;
			data.name = $("#menuName").val();
			data.available = $("[name=available]:checked").val();
			data.menuType = $("[name=menuType]:checked").val();
			if($("[name=parentMenuId]").val() == 0){
				//顶级菜单				
				data.parentIds = "0/";
			}else{
				data.parentIds = $("[name=parentMenuParentIds]").val() +$("[name=parentMenuId]").val();
			}
			data.parentId = $("[name=parentMenuId]").val();
			data.permission = $("#permission").val();
			data.resourceType = "menu";
			data.haveChildren = $("#menuUrl").val() == "";
			data.url = $("#menuUrl").val() == "" ? "#" : $("#menuUrl").val();
			data.parentMenuHaveChildren = $("[name=parentMenuHaveChildren]").val();
			data.menuOrder = $("#menuOrder").val();
			$.ajax({
				type: "POST",
				url: [[@{/}]] + 'menu/add.html',
		    	data: data,
				dataType:'json',
				cache: false,
				success: function(data){
					if(data.success){
						alert("添加成功");
						parent.location.href=[[@{/}]] + "menu/listAllMenu.do?menu_id="+[[${pd.get('menu_id')}]];
					}else{
						if(data.msg != null){
							alert(data.msg);
						}else{
							alert("添加失败");
						}
					}
				}
			});
		}
		/*]]>*/
	</script>
</body>


</html>